<div data-ng-controller="FormController as controller">
    <h1 class="page-header">Forms</h1>

    <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#/form">Forms</a></li>
            <li role="presentation"><a>Fields</a></li>
    </ul>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <a href="#">
                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    </a>
                    Form Name
                </th>
                <th>
                    <a href="#">
                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    </a>
                    Actions
                </th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" name="formname" placeholder="Important Form" data-ng-model="formName"/></td>
                <td class="col-nowrap">
                    <a href="" class="btn btn-primary" ng-click="addForm()">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="" class="btn btn-success">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in userForms">
                    <td>
                        <a href="">{{form.name}}</a>
                    </td>
                    <td class="col-nowrap">
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a href="" class="btn btn-danger" ng-click="deleteForm($index)">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                    </td>
            <!-- <tr>
                <td><a href="form-fields.html">Registration Form</a></td>
                <td class="col-nowrap">
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="form-fields.html">Contact List</a></td>
                <td class="col-nowrap">
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td><a href="form-fields.html">To Do List</a></td>
                <td class="col-nowrap">
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr> -->
            </tbody>
        </table>

        <div class="error glyphicon glyphicon-remove" ng-if="error">
            <span>{{error}}</span>
        </div>
    </div>
</div>