<div class = "container" ng-controller="StoryController">
	<br/>
	<h2 ng-if="story">{{story.heading}}</h2>
	<h2 ng-if="!story">Some Heading</h2>
	<br/>
	<div class="shadow">
		<img class="storyimg" ng-src="{{img}}">
	</div>
	<br/>
	<br/>
	<br/>
	<div class="shadow div-opaque container">
		<pre class="storycontent div-opaque whitefont" ng-if="!story">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
		</pre>
        <p ng-if="story" class="storycontent p-break div-opaque whitefont">
            {{story.contents}}
        </p>
	</div>

	<br/>

	<table class="table ">
		<tbody>
		    <tr>
                <td class="whitefont storycontent"> Author :
                    <a class="whitefont pointer" ng-click="selectUser()">{{author.firstName}}</a>
                </td>
		      	<td width="65%"><h3>Rate the story</h3>
                    <div ng-init="x = 0">
                        <uib-rating ng-model="x" max="5" state-on="'glyphicon-heart'" onchange="rate()"
                                    state-off="'glyphicon-ban-circle'" aria-labelledby="custom-icons-1">
                        </uib-rating>
                        <b>(<i>Rate:</i> {{x}})</b>
                    </div>
				</td>
		        <td class="">
		        	<a class="whitefont" href="" data-ng-click="addToFavorites()"
                            ng-if="notInFavorite">Add to Favorites</a>
                    <a class="whitefont" href="" data-ng-click="removeFromFavorites()"
                       ng-if="!notInFavorite">Remove From Favorites</a>
		        	<br />
					<a class="whitefont" href="" ng-click="report()" ng-if="!reported">Report</a>
				</td>
		    </tr>
		</tbody>
	</table>

	<div>
		<h3>Comments :</h3>
		<div class="form-group">
            <label for="comment" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" data-ng-model="comment" class="form-control" id="comment" placeholder="example">
            </div>
        </div>

        
        <button type="submit" class="btn btn-default" ng-click="addComment()">Add Comment</button>
         <div class="error glyphicon glyphicon-remove" ng-if="error">
            <span>{{error}}</span>
        </div>

        <div>
	        <table class="table ">
			    <tbody>
			      <tr ng-repeat=" comment in story.comments" ng-bind-html-unsafe="comment">
			      	<td width="15%"><img src="views/img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			        <td class="bold whitefont">{{ comment }}</td>
			      </tr>
			  </tbody>
			</table>
        </div>
	</div>
</div>