/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}

.child-1 {
    float: left;
    border-right: 1px solid white;
}

.child-2 {
    float: left;
    border-left: 1px solid white;
    margin-left: -1px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.tabs-1 {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabs-li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.nav-tabs {
    color: white;
}

ul.nav-tabs li a{
    color: white;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.float-right {
    float : right;
}
.float-left{
    float: left;
}

body{
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
}
.error {
color: #D8000C;
background-color: #FFBABA;
}

.background {
    background:url(../project/client/views/img/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: 400px;
  margin: auto;
}
.bold{
    font-weight: bold;
    font-size: x-large;
}
.storycontent{
    font-size: large;
}
.storycontent-med{
    font-size: medium;
}
.whitebg {
    background-color: white;
}
.whitefont{
    color: white;
}
.shadow {
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
}
.overlay{
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.blackbg{
    background-color: rgba(0, 0, 0, 0);
}
.widewrapper {
  width:100%;
  }

.widewrapper > img {
  width:100%;
}
.jumbotron
{   
    background-image: url("../project/client/views/img/widemanutd.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
    border: solid red 1px;
 }
 .storyimg {
    width: 1500px;
    height: 300px;
    max-width:100%;
max-height:100%;
 }
 .rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.ratingstart{
   font-size: x-large;
}
.right-align{
    text-align: right;
}
.list-group, .list-group-item {
    background-color: transparent;
}
.table1{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

.th1, .td1 {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}