
.div-inline{

    display:inline-block;
}

.div-opaque{
    opacity: 1.0;
    background-color: black;
}

.pointer {
    cursor: pointer;
}

.content {white-space: pre; display: inline-block; width: 100%}

.p-break { word-break: normal; white-space: pre-wrap; }
