<div class="container">
	<div class="jumbotron">

	</div>
	<h1 class="page-header">Manchester United !</h1>

	<div class = "container col-sm-8 child-1">
		<table class="table ">
			<thead>
				<tr>Manager</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>Louis Van Gaal</td>
			    </tr>
			</tbody>
		</table>
		<table class="table ">
			<thead>
				<tr width="15%"></tr>
				<tr>Goal Keepers</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			</tbody>
		</table>
		<table class="table ">
			<thead>
				<tr width="15%"></tr>
				<tr>Defenders</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			</tbody>
		</table>
		<table class="table ">
			<thead>
				<tr width="15%"></tr>
				<tr>Midfielders</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			</tbody>
		</table>
		<table class="table ">
			<thead>
				<tr width="15%"></tr>
				<tr>Strikers</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			</tbody>
		</table>
		<table class="table ">
			<thead>
				<tr width="15%"></tr>
				<tr>Staff</tr>
			</thead>
		    <tbody>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			    <tr>
			      	<td width="15%"><img src="img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
			      	<td>David De Gea</td>
			    </tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4 child-2 container">
		<br/>
		<h3>Recent Fixtures</h3>
		<br/>
		<table class="table ">
		    <tbody>
		      <tr>
		        <td class="bold"><a class="whitefont" href="#">ManUtd 2 - 0 Ars</a></td>
		      </tr>
		      <tr>
		        <td class="bold"> <a class="whitefont" href="#">ManCity 1 - 0 ManUtd</a></td>
		      </tr>
		      <tr>
		        <td class="bold"><a class="whitefont" href="#">ManUtd 3 - 0 Liv</a></td>
		      </tr>
		      <tr>
		        <td class="bold"><a class="whitefont"href="#">ManUtd 2 - 0 CryPal</a></td>
		      </tr>
		      <tr>
		        <td class="bold"> <a class="whitefont" href="#">ManUtd 1 - 0 Chelsea</a></td>
		      </tr>
		    </tbody>
		  </table>
	</div>
</div>