<div class = "container" data-ng-controller="TransferController">
	<br/>
	<h3>Recent Stories</h3>
	<br/>
	<table class="table ">
	    <tbody>
	      <tr dir-paginate="transfer in transfers |itemsPerPage:5">
	      	<td width="15%"><img src="views/img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
	        <td>
                <div class="bold">{{transfer.heading}}</div>
                <div><p>{{transfer.contents}}</p></div>
            </td>
	        <td width="5%">
	        	<a href="" class="btn btn-success" ng-click="addlike($index)">{{transfer.likes}}
                    <scan class="glyphicon glyphicon-thumbs-up"></scan>
                </a>
                <a href="" class="btn btn-danger" ng-click="addDislike($index)">{{transfer.dislikes}}
                    <scan class="glyphicon glyphicon-thumbs-down"></scan>
                </a>
            </td>
	      </tr>
	    </tbody>
	  </table>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</div>