<div class="row">
<div ng-controller="LoginController" class="col-sm-9 child-1">
    <h1 class="page-header">Log in</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" data-ng-model="username" class="form-control" id="username" placeholder="example">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" data-ng-model="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="login()">Sign in</button>
            </div>
        </div>

        <div class="error glyphicon glyphicon-remove" ng-if="error">
            <span>{{error}}</span>
        </div>
    </form>
</div>

<div class="col-sm-3 child-2">
    <h1 class="page-header">New Member?</h1>
    <p>If you are not a member, then please <a href="#/register">Register</a></p>
</div>
</div>