<div class="container" data-ng-controller="LeagueController">
	<h1 class="page-header">{{league.caption}}</h1>

    <div class="table-responsive container">
        <h2>League Table</h2>
        <table class="table" ng-if="!isChampionsLeague">
            <thead>
                <td class="storycontent">Position</td>
                <td class="storycontent">Team</td>
                <td class="storycontent">Points</td>
                <td class="storycontent">Goal Difference</td>
                <td class="storycontent">Goals For</td>
                <td class="storycontent">Goals Against</td>
            </thead>
            <tbody>
                <tr ng-repeat="team in leagueTable.standing">
                    <td>{{team.position}}</td>
                    <td><a ng-click="selectTeam($index)" class="whitefont pointer">{{team.teamName}}</a></td>
                    <td>{{team.points}}</td>
                    <td>{{team.goalDifference}}</td>
                    <td>{{team.goals}}</td>
                    <td>{{team.goalsAgainst}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="isChampionsLeague">
            <h4>Sorry, League table is not available for Champions League</h4>
        </div>
    </div>

    <div class="table-responsive container">
        <h2>Fixtures</h2>
        <div class="form-group" ng-init="matchday = 1">
            <label for="sel1">Select MatchDay:</label>
            <select class="form-control" ng-options="matchday for matchday in matchdays"
                    ng-model="matchday" id="sel1"></select>
        </div>

        <table class="table">
            <thead>
            <td class="storycontent">Home</td>
            <td class="storycontent"></td>
            <td class="storycontent">Away</td>
            <td class="storycontent">Result</td>
            </thead>
            <tbody>
            <tr ng-repeat="fixture in fixtures.fixtures" ng-if="fixture.matchday == matchday">
                <td>{{fixture.homeTeamName}}</td>
                <td>vs</td>
                <td>{{fixture.awayTeamName}}</td>
                <td>{{fixture.result.goalsHomeTeam}} - {{fixture.result.goalsAwayTeam}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>