<div ng-controller="CreateTransferController">
    <div ng-if="user">
        <h1 class="page-header">New Transfer</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Header">Transfer News</label>
                <input type="text" class="form-control" id="Header" placeholder="Some header" data-ng-model="Header">
            </div>
            <div class="form-group">
                <label for="story">Contents</label>
		        <textarea type="text" class="form-control" id="story"
                          placeholder="Your whole story..." rows="10" data-ng-model="contents">
                </textarea>
            </div>

            <button type="submit" class="btn btn-default" ng-click="create(Header, contents)">Submit</button>
            <div class="error glyphicon glyphicon-remove" ng-if="error">
                <span>{{error}}</span>
            </div>
            <div class="success glyphicon glyphicon-ok" ng-if="error">
                <span>{{success}}</span>
            </div>
        </form>

    </div>
    <div ng-if="!user">
        <h2>
            You are not logged in right now. To see your profile, please <a href="#/login">login</a>
        </h2>
    </div>
</div>