<div class="container" data-ng-controller="HomeController">
	<h1 class="page-header">Welcome to Football Paradise!</h1>
	<div class="container col-sm-9 child-1 shadow">
      <br>
	  <h3>Quick Links</h3>
	  <br>
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
	      <li data-target="#myCarousel" data-slide-to="2"></li>
	      <li data-target="#myCarousel" data-slide-to="3"></li>
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner " role="listbox">

	      <div class="item active">
	        <img src="views/img/175061-bigthumbnail.jpg" alt="Chania" width="460" height="345">
	        <div class="carousel-caption">
	          <h3>Story 1</h3>
	          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
	        </div>
	      </div>

	      <div class="item">
	        <img src="views/img/r4f.jpg" alt="Flower" width="460" height="345">
	        <div class="carousel-caption">
	          <h3>Story 2</h3>
	          <p>Beatiful flowers in Kolymbari, Crete.</p>
	        </div>
	      </div>	

	      <div class="item">
	        <img src="views/img/175061-bigthumbnail.jpg" alt="Chania" width="460" height="345">
	        <div class="carousel-caption">
	          <h3>Story 3</h3>
	          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
	        </div>
	      </div>

	      <div class="item">
	        <img src="views/img/football_PNG1085.png" alt="Flower" width="460" height="345">
	        <div class="carousel-caption">
	          <h3>Story 4</h3>
	          <p>Beatiful flowers in Kolymbari, Crete.</p>
	        </div>
	      </div>
	  
	    </div>
	  </div>
	</div>

	<div class = "container col-sm-3 child-2">
		<br/>
		<h3>Recent Stories</h3>
		<br/>
		<table class="table ">
		    <tbody>
		      	<tr ng-repeat="story in stories">
		      		<td width="15%"><img src="../img/175061-bigthumbnail.jpg" alt="Chania" width="40" height="40"></td>
		        	<td class="storycontent-med"><a class="whitefont" href="" ng-click="selectStory($index)">{{story.heading}}</a></td>
		      	</tr>
		    </tbody>
		  </table>
	</div>
</div>

